{% extends "admin/base.html" %}
{% load static %}
{% block title %}
Bakso
{% endblock title %}

{% block content %} 

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Order List
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i data-feather="home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Menus</li>
                        <li class="breadcrumb-item active">Order List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <form class="form-inline search-form search-box">
                            <div class="form-group">
                                <input class="form-control-plaintext" type="search" placeholder="Search..">
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-desi">
                            <table class="table all-package" id="editableTable">
                                <thead>
                                    <tr>
                                        <th>Nama</th>
                                        <th>Gambar</th>
                                        <th>Harga</th>
                                        <th>Kategori</th>
                                        <th>Deskripsi</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bakso in object_list %}
                                    <tr>
                                        <td>{{ bakso.nama }}</td>
                                        <td><img src="{{ bakso.gambar.url }}" alt=""></td>

                                        <td data-field="number">Rp.{{ bakso.harga }}</td>

                                        <td data-field="text">{{ bakso.kategori }}</td>

                                        <td>{{ bakso.deskripsi|safe }}</td>

                                        <td>
                                            <a href="{% url 'bakso:update' bakso.id %}">
                                                <i class="fa fa-edit" title="Edit"></i>
                                            </a>

                                            <a href="#" onclick="event.preventDefault(); document.getElementById('delete-form-{{ bakso.pk }}').submit();">
                                                {% csrf_token %}
                                                <i class="fa fa-trash" title="Delete"></i>
                                            </a>
                                            
                                            <form id="delete-form-{{ bakso.pk }}" method="post" action="{% url 'bakso:delete' bakso.pk %}" style="display: none;">
                                                {% csrf_token %}
                                            </form>
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

{% endblock content %}